@model MVMCorrespondencia.Models.Correspondeciainterna

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar Correspondeincia Interna</h1>

<h4>Correspondecia interna</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Consecutivointerna" />
            <div class="form-group">
                <label asp-for="Idcontactoremitente" class="control-label">Remitente</label>
                <select asp-for="Idcontactoremitente" class="form-control" asp-items="ViewBag.Idcontactoremitente"></select>
                <span asp-validation-for="Idcontactoremitente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idcontactodestinatario" class="control-label">Destinatario</label>
                <select asp-for="Idcontactodestinatario" class="form-control" asp-items="ViewBag.Idcontactodestinatario"></select>
                <span asp-validation-for="Idcontactodestinatario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Radicadointerna" class="control-label"></label>
                <input asp-for="Radicadointerna" class="form-control" readonly/>
                <span asp-validation-for="Radicadointerna" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
